/* Root */
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent1-color: #41337A;
    --accent2-color: #007449;
    --accent3-color: #A31621;
}

*{
    font-family: Philosopher, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    
}
body {
    max-width: 1200px;
    width: 100%;
    min-width: 400PX;
    
    
}

/****************************************************************
* *
* header area properties *
* *
*****************************************************************/

header {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--accent3-color);
    font-size: 25px;
    
}
.topNav {
    display: none;
}

.fa-facebook, .fa-twitter, .fa-linkedin {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.logo {
    display: none;
}
.siteIdentity{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
}

nav {
    grid-column: 1/-1;
    width: 100%;   
}

#menu {
	font-size: 1.5rem;
	border: 1px solid var(--primary-color);
	padding: .5rem 1rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	top: 70px;
	margin: 1rem;
}
#menu::before {
    content: "☰"
}
#menu.open::before {
    content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-color);
    font-family: philosopher;
    font-weight: 700;
}
.navigation li a:hover {
	background-color: var(--accent2-color);
	color: var(--primary-color);
	font-weight: 1200;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: flex;
	width: 100%;
}
.open li a {
    
	display: flex;
    color: var(--secondary-color);
}
.active {
    background-color: var(--accent1-color);
}

#maxTemp {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: .5rem 1rem;
    background-color: var(--accent1-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    margin-bottom: 1.2rem;
    font-size: .85rem;
    color: var(--secondary-color);
    text-align: center;

}

#maxTemp button {
    float: right;
    color: var(--accent1-color);
    border: none;
    background-color: var(--secondary-color);
}

.maxTemp-show {
    display: block;
} 

.maxTemp-hide {
    display: none;
}
/****************************************************************
*
*Hero area properties *
*
*****************************************************************/
.hero{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}



.herolabel {
	grid-column: 1/-1 ;
    grid-row: 1/2;
    z-index: 1;
	align-self: center;
	padding: .5rem;
}

.herolabel h1 {
    display: none;
}

.hero picture {
    grid-column: 1/4;
    grid-row: 1/2
}


.button-box{
    
    font-size: 25px;
    font-weight: 700;
    padding: .5rem;
    margin: 2rem;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    text-align: center;
    justify-self: center;
    background-color: var(--accent1-color);
}

.herolabel a, footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

.button-box:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
/****************************************************************
* *
* Home Page *
* *
*****************************************************************/
#home {
    display: grid;
    grid-template-columns: 1fr;
}

 
h2 {
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;
    
}
.rentalsInfo {
    border: 1px solid var(--accent1-color);
    margin: 1rem 0 1rem 0;
    width: 100%
    
}

.vehicles {
    box-shadow: 0 0 10px var(--primary-color);
    border: 1px solid var(--accent3-color);
    margin: 1rem;
    font-size: 25px;
    
}

.vehicles li {
    text-indent: -10px;
    font-size: 20px;
    padding: 10px;
    margin: 1rem;
}

.vehicles h3, .social h2 {
    background-color: var(--accent1-color);
    padding: 1em;
    color: var(--secondary-color);
    text-align: center;
}

.social {
    text-align: center;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--accent3-color);
    margin: .5rem 0 .5rem 0;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid var(--accent3-color);
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.weather h3 {
    grid-column: 1/-1;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
}
/****************************************************************
* *
* Rentals *
* *
*****************************************************************/
#rentals-page{
    width: 100%;
}
table {
	/* margin: 10px auto; */
	border: 1px solid var(--accent1-color);
	box-shadow: 0 0 10px var(--accent2-color);
	/* border-collapse: collapse; */
    width: 100%;
}

caption {
    padding: 10px;
    caption-side: bottom;
    /* color: var(--primary-color); */
	font-size: .85rem;
}

tr > th {
	background-color: var(--accent1-color);
	color: var(--secondary-color);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

.th {
	background-color: var(--primary-color);
	font-size: larger;
    letter-spacing: 1px;
	color: var(--secondary-color);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--accent3-color);
    color: var(--secondary-color);
}

/****************************************************************
* *
* Reservations *
* *
*****************************************************************/

/* -------FORM----------------- */
#reservations hr {
    margin: 1rem;
    border: 2px solid var(--primary-color);
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--accent1-color);
    border-radius: 10px;
    padding: .5rem;
}

form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent3-color);
    font-size: 1.5rem;
}

form label.top input, form label.top select, form label.top textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px var(--accent2-color);
    border-radius: 4px;
    padding: .75rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 220rem;
    background-color: rgb(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--accent1-color);
}

form input.submitBtn {
    border: none;
    background-color: var(--accent3-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.5rem;
}

form label.top input:required{
    border-left:red solid .5rem;

}

form label.top input:required:valid {
    border-left: green solid .5rem;
}

/****************************************************************
* *
* Contact *
* *
*****************************************************************/
.locations {
    margin: 1em;
    padding: 1em;
}
#contact h3 {
    margin: 1rem;
    text-align: center;
}

#contact hr {
    margin: 1rem;
    color: var(--accent3-color);
    border: 2px solid var(--accent3-color);
}
.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56%; /* 4:3 Aspect Ratio */
}
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/****************************************************************
* *
* Attributions *
* *
*****************************************************************/


/****************************************************************
* *
* Footer *
* *
*****************************************************************/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: .5rem;
    width: 100%;
}
