/* Add your styling here */
*{
    max-width: 1280px;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #333; */
    color: black;
    padding: 1rem;
}
.topNav {
    width: 100%;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #555;
    align-items: center;
    color: white;
}

.fa-facebook, .fa-twitter, .fa-linkedin {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.logo {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
}
.siteIdentity{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: -100px;
}

nav {
    grid-column: 1/-1;
    width: 100%;
    background-color: #555;
    margin-top: 0.5rem;
   
}


nav ul {
    display: inline-flex;
    list-style-type: none;
    justify-content:space-around
}

nav a{
    text-decoration: none;
    margin: 20px;
    color: white;
    padding: 1rem;
}

.active {
    background-color: #04AA6D;
  }
nav a:hover {
    background-color: #000;
}

/****************************************************************
* *
* Home Page *
* *
*****************************************************************/

.hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
}

.herolabel {
	grid-column: 1/2 ;
    grid-row: 1/2;
    z-index: 1;
	align-self: center;
    
	padding: 0.5rem;
    text-align: center;
    color: #ffffff
}

.hero picture {
    grid-column: 1/2;
    grid-row: 1/2
}

.herolabel h1 {
    font-family: Philosopher;
    
}

.join{
    background-color: purple;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.join:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

/****************************************************************
* *
* Rentals *
* *
*****************************************************************/
:root {
	--back: rgb(1, 14, 7);
  --back2: hsla(150, 100%, 2%, 0.5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

body {
	font-family: "EB Garamond", Arial, serif;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
	font-size: .85rem;
}

tr > th {
	background-color: var(--back2);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th:nth-child(1) {
	background-color: var(--back);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

/****************************************************************
* *
* Reservations *
* *
*****************************************************************/


/****************************************************************
* *
* Contact *
* *
*****************************************************************/


/****************************************************************
* *
* Attributions *
* *
*****************************************************************/


/****************************************************************
* *
* Footer *
* *
*****************************************************************/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
