@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
    main > section {
        grid-column: 1;
        width: 100%;
        max-width: 450px;
        justify-self: center;
        margin: 0 auto;
    }
    section img {
        max-width: 400px;
    }
}