@media only screen and (min-width: 640px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
  
	#menu {
		display: none; 
	}
    nav  {
        grid-column: 2/3;
        /* background-color: var(--accent1-color); */
    }

    .social-icons {
        grid-column: 3/4;
        grid-row: 1/1;
    
    }
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation {
		flex-direction: row;
        background-color: var(--secondary-);
	}
    .navigation {
        list-style: none;
        color: var(--primary-color)
    }
    .smaller-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    hr {
        display: none;
    }
    div hr {
        display: block;
    }
    
    #home {
        grid-template-columns: 1fr 1fr;
    }
    #content img:hover {
        box-shadow: 0 0 50px #333;
    }
    /* directory */
    .grid section  {
        width: 320px;
    }
    #discover-page {
        grid-template-columns: 350px auto;
    }
    #side-bar {
        grid-column: 1;
    }
    #content {
        grid-column: 2;
        max-width: 640px;
    }
    #joinUs {
        display: block;
    }
    
}