@media only screen and (min-width: 640px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
  
	#menu {
		display: none; 
	}
    nav  {
        grid-column: 2/3;
        /* background-color: var(--accent1-color); */
    }

    .social-icons {
        grid-column: 3/4;
        grid-row: 1/1;
    
    }
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation {
		flex-direction: row;
        background-color: var(--secondary-);
	}
    .navigation {
        list-style: none;
        /* background-color: var(--accent1-color); */
        color: var(--primary-color)
    }
    .active::before {
        display: none;
    }
    hr {
        display: none;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
    }
    /* main  section:nth-child(5) {
        grid-column: 1/3;
    } */
}